body {
    background: #FFFFFF url('../images/empe.jpg') no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    min-width: 600px;
}

h1 { 
    color: white;
    font-family:'Roboto Condensed', sans-serif;
    font-size: 100px;
    margin: 0px 0;
}
 
select {
    width: 250px;
    height: 30px; 
    border-radius: 20px;
    padding: 5px 25px;
}

.logotipo {
    padding: 10px 5px 0 50px;
}
.logotipob {
    padding: 10px 50px 0 5px;
}

.contenedor {
  display: inline-block;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.contboton {
  display: inline-block;
  display: flex;
  justify-content: space-around;
  position: relative;
}

.titulo {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.boton {
    margin: 0px;
    text-align: center;
    border-radius: 20px;
    padding: 5px 25px;
}

.formulario {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.tablas {
    display: block;
}

.tablas tr {
    width: 600px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.formulario label {
    color: white;
    font-size: 25px;
    text-align: center;
    font-family: Arial, sans-serif;
}

p {
    text-decoration :none;
    color: white;
    font-size: 15px;
    text-align: center;
    font-family: Arial, sans-serif;
} 
 
.formulario label, .cajas {
    display: block;
}

footer {
    color: white;
    text-align: right;
    bottom: 0;
    position: fixed;
}

.cajas{
    width: 250px;
    height: 15px;
    border-radius: 20px;
    padding: 5px 25px;
}
a{
    text-decoration: none;
    color: white;
    padding: 50px 5px 0 5px;
    font-size: 35px; 
}

.botones {
    background-color: #FA58D0;
    padding: 15px;
    border-bottom: 6px solid #DF01A5;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    width: 300px;
    text-align: center;
    margin-right: 5px;
    margin-top: 30px;
}

.botones:hover {
    background-color: #FF0080;
    border-top: 6px solid #F781F3;
    border-bottom: 0 none;
}

.botones:last-of-type {
    margin-right: 0;
}

.boton_a {
    color: #FFFFFF;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
}

