body {
    background: #FFFFFF url('../images/empe.jpg') no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    min-width: 600px;
}

h1 { 
    color: white;
    font-family:'Roboto Condensed', sans-serif;
    font-size: 100px;
    margin: 0px 0;
}
 
select {
    width: 250px;
    height: 30px;
    border-radius: 20px;
    padding: 5px 25px;
}

.logotipo img {
    padding: 10px 50px 0 50px;
}

.contenedor {
  display: inline-block;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.titulo {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.boton {
    margin: 0px;
    text-align: center;
    border-radius: 20px;
    padding: 5px 25px;
}

.formulario {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.tablas {
    display: block;
}

.tablas tr {
    width: 600px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.formulario label {
    color: white;
    font-size: 25px;
    text-align: center;
    font-family: Arial, sans-serif;
}

.formulario label, .cajas {
    display: block;
}

footer {
    color: white;
    text-align: right;
}

