@using Mvc.CascadeDropDown
@model Reporte.Models.CascadingDropdownsModel
@{
    ViewBag.Title = "FilterProcesos";
}

<h2>FilterProcesos</h2>

<header class="header">
    <div class="logotipo contenedor">
        <img src="~/images/logo.png" height="150" />
        <img src="~/images/CAVAZOS.png" height="100" />
    </div>
    <div class="contenedor titulo">
        <h1>Reporte SIAP</h1>
    </div>
</header>
<section class="contenedor">
    <div class="formulario">
        @using (Html.BeginForm("GenerarDocument", "Home", FormMethod.Post))
            {
            <div>
                <table class="tablas">
                    <tr>
                        <th>
                            <label>Empresa</label>
                            @Html.DropDownListFor(m => m.SelectedEmpresas, Model.Empresas, "Seleccione la empresa", new { @class = "form-control combobox" })
                        </th>
                        <th>
                            <label>Año</label>
                            @Html.DropDownListFor(m => m.SelectedAnos, Model.Anos, "Seleccione el año", new { @class = "form-control combobox" })
                        </th>
                    </tr>
                    <tr>
                        <th colspan="2">
                            <label>Periodo(s)</label>
                            @Html.EditorFor(model => model.SelectedProcesos, new { htmlAttributes = new { @class = "form-control cajas" } })
                        </th>
                    </tr>
                </table>
            </div>
            <div class="boton">
                <input type="submit" class="boton" value="Generar" />
            </div>
        }
    </div>
</section>